<h1>Review form for <%= @book.title %></h1>

<h3>Review</h3>
<%= form_for [@book, @review] do |f| %>
<%= f.label :rating %>
<%= f.text_field :rating %>

<%= f.label :body, "Review" %>
<%= f.text_field :body %>

<%= f.submit "Add Review" %>

<% end %>
